/* @charset "UTF-8";
/* CSS Document */

p.add_bottom_30 a.btn_1:hover{
    color: #fff;
}

html,body {
	-webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased;-o-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}body{background:#f9f9f9;font-size:18px;line-height:1.5;font-family:"Montserrat",Arial,sans-serif;color:#333;font-weight:400}
a{color:#e14d67;text-decoration:none;-webkit-transition:all .2s ease;transition:all .2s ease;outline:none}a:hover,a:focus{color:#111;text-decoration:none;outline:none}@media only screen and (max-width:991px){a.show-submenu:hover,a.show-submenu:focus{color:#e04f67 !important;background-color:#f9f9f9}}@media(min-width:768px){body{overflow-x:hidden !important}}
.main-menu ul.show_normal{
  display: block !important;
  visibility: visible !important;
}